.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.25;
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    //object-fit works with html elements
    object-fit: cover; //This makes the video cover all the section stories
  }
}
